.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    position: relative;
    padding-left: clamp(10%, 10vw, 30%);
    padding-right: clamp(10%, 10vw, 30%);
  
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  

  
  .navButton {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
  }
  